@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

a {
  color: #fff;
}

