@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  color: #fff;
  font-family: 'Noto Sans', sans-serif;
  background-color: #B1C9BB;
}

.temp-header {
  position: relative;
  width: 100%;
  background-color: #B1C9BB;
  text-align: center;
}

.grid-container {
  display: grid;
  background: white;
  border-radius: 8px;
  gap: 1rem;
  grid-auto-rows: 200px;

  --stagger-delay: 700ms;
  animation: cardEntrance 800ms;
  animation-fill-mode: backwards;
}
