@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

body {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  background-color: #B1C9BB;
}

.temp-header {
  position: relative;
  width: 100%;
  background-color: #B1C9BB;
  text-align: center;
}

.temp-header h2 {
  font-family: 'Lakki Reddy', cursive;
  margin-block-start: 0;
  margin-block-end: 0;
}

.grid-container {
  display: grid;
  background: white;
  border-radius: 8px;
  gap: 1rem;
  grid-auto-rows: 200px;

  --stagger-delay: 700ms;
  animation: cardEntrance 800ms;
  animation-fill-mode: backwards;
}
