.login-button {
    background-color: #F8AF8E;
    border: none;
    color: white;
    border-radius: 8px;
}

@media screen and (min-width: 600px) { /*Desktop */
    .login-button {
        position: absolute;
        right: 20px;
        top: 25%;
        height: 40px;
        width: 200px;
    }
}

@media screen and (max-width: 600px) { /* Mobile */
    .login-button {
        height:40px;
        width: 200px;
    }
  }