.auth-button {
    background-color: #F8AF8E;
    border: none;
    color: white;
    margin-bottom: 5px;
}

@media screen and (min-width: 600px) { /*Desktop */
    .auth-button {
        position: absolute;
        right: 20px;
        top: 5px;
        height: 80%;
        width: 200px;
    }
}

@media screen and (max-width: 600px) { /* Mobile */
    .auth-button {
        height:40px;
        width: 200px;
    }
}
