@media screen and (min-width: 600px) { /* Desktop */
    .recipe-form-container {
        border: 2px solid blue;
        width: 600px;
        margin: auto;
    }
}
    
@media screen and (max-width: 600px) { /* Mobile */
    .recipe-form-container {
        border: 2px solid red;
        padding: 5%;
    }
}

label {
    display: block;
}

#title {
    margin-bottom: 20px;
}

#ingredients {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
}

#preparation {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
}

#hours {
    margin-bottom: 20px;
    width: 40px;
}

#minutes {
    margin-bottom: 20px;
    width: 40px;
}

#vegan {
    margin-bottom: 20px;
    margin-top: 10px;
    transform:scale(1.5, 1.5);
}

#lactoseFree {
    margin-bottom: 20px;
    margin-top: 10px;
    transform:scale(1.5, 1.5);
}

#image {
    margin-bottom: 20px;
}

#submit {
    width: 200px;
    height: 40px;
    background-color: #F8AF8E;
    border: none;
    color: white;
}